.home {
    height: 100vh;
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-layer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-layer h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}


.home-layer p {
    width: 400px;
    height: 80px;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%);
}

.home-layer p::after {
    content: '';
    animation: infinite 3s text;
}

@keyframes text {
    0% {
        content: " |";
    }

    10% {
        content: " fre|";
    }

    20% {
        content: " freela|";
    }

    30% {
        content: " freelan|";
    }

    40% {
        content: " freelance|";
    }

    50% {
        content: " freelancer|"
    }

    60% {
        content: " De|";
    }

    70% {
        content: " Desi|";
    }

    80% {
        content: " Design|";
    }

    90% {
        content: " Designer|";
    }

    100% {
        content: " |"
    }
}



.skill-item p {
    margin: 0;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


.about h2 {
    position: relative;
}

.about h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0078ff;
    width: 20%;
    height: 3px;
}


.about .container {
    background-color: white;
}

.about {
    background-color: #eee;
}

.SERVICES {
    background-color: #eee;
}

.SERVICES .card {
    padding: 20px;
    box-shadow: black;
}


.icon-circle i {
    margin-top: 25px;
    color: black;
    font-size: 2rem;
}

.icon-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #0078ff 7px solid;
    border-radius: 50%;
    transition: all 500ms ease;
}



.SERVICES .card:hover {
    .icon-circle {
        background-color: #0078ff;
        border-color: rgba(255, 255, 255, 0.219);
    }

    i {
        color: white;
    }
}


.SERVICES .card h3 {
    text-align: center;
    font-size: 20px;
}

.SERVICES .card p {
    text-align: center;
    color: gray;
}

.SERVICES .title h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}


.SERVICES .title p {
    position: relative;
    text-align: center;
    padding: 10px;
}

.SERVICES .title p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #0078ff;
    width: 4%;
    height: 5px;
    border-radius: 7px;
    transform: translate(-50%);
}

.SERVICES .title {
    padding: 30px;
}

.counter {
    background-color: #eee;
    padding: 70px 0;
}

.counter {

    background-image: linear-gradient(rgba(0, 120, 255, .3), rgba(0, 120, 255, 3)), url(../img/counters-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    text-align: center;
}

.counter .side i {
    padding: 5px;
    color: white;
}

.counter .side h3 {
    color: white;
}

.counter .side p {
    color: white;
}


.counter .icon-circle {
    border-color: white;
    margin-bottom: 20px;
}


.PORTFOLIO {
    background-color: #eee;
}


.PORTFOLIO .title p {
    position: relative;
}



.PORTFOLIO .title p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #0078ff;
    width: 4%;
    height: 5px;
    border-radius: 7px;
    transform: translate(-50%);
}


.PORTFOLIO .card {
    border: 0px;
}



.PORTFOLIO .card img {
    transition: transform 1s ease-in-out;
}

.PORTFOLIO .card:hover img {
    transform: scale(1.5, 1.5);
}

.PORTFOLIO .card-photo {
    overflow: hidden;
}

.PORTFOLIO h2 {
    font-size: 40px;
}



.PORTFOLIO .card p {
    color: #0078ff;
}

.PORTFOLIO .card span {
    color: gray;
}


.card-body-icon {
    width: 40px;
    height: 40px;
    border: #0078ff 2px solid;
    border-radius: 50%;
}



.PORTFOLIO .card-body-icon i {
    color: rgb(0, 120, 255);
}



.carouselPart {
    background-image: url(../img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.carouselLayer {
    background-color: rgba(0, 120, 255, .5);

}


.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border: 1px transparent solid;
    border-radius: 50%;
}

.carousel-indicators {
    top: 90%;
}

.glogTitle p {
    position: relative;

}


.glogTitle p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #0078ff;
    width: 4%;
    height: 5px;
    border-radius: 7px;
    transform: translate(-50%);
}


.card-body .title h6 {
    position: absolute;
    width: 80px;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #0078ff;
    top: -7%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0 10px;

}

.Bolg .card-body .card-text {
    font-size: 13px;
    color: gray;
}

.Bolg .cardIcon img {
    width: 30px;
    height: 30px;
}


.card-body h5 {
    transition: .3s;
}

.card-body h5:hover {
    color: #0078ff
}

.Bolg {
    background-color: #eee;
}

.messagePart {
    background-image: url(../img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.messageLayer {
    background-color: rgba(0, 120, 255, .5);

}



.messagePart h2 {
    position: relative;
}

.messagePart h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0078ff;
    width: 20%;
    height: 3px;
}

.messagePart input:hover {
    border-color: #0078ff;
}

.messagePart input {
    border-color: rgba(128, 128, 128, 0.171);

}


.messagePart .buttom input {
    background-color: #0078ff;
    color: white;
    border: transparent;
}

.messagePart .buttom input {
    transition: .3s;
}

.messagePart .buttom input:hover {
    background-color: rgba(19, 126, 233, 0.575);
}

.messagePart .data i {
    width: 10px;
    padding: 10px;
    color: #0078ff;
}

.messagePart .socialMedia i {
    font-size: 20px;
    padding: 10px;
    border: #0078ff 2px solid;
    border-radius: 50%;
    transition: .3s;
}

.messagePart .socialMedia i:hover {
    background-color: #0078ff;
    color: white;

}

.footer {
    background-color: #0062d3;
    padding-bottom: 15px
}

.footer p {
    color: white;
    font-size: 15px;
}